.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.github
.env
ehthumbs.db
Thumbs.db
_config.yml
node_modules
dist
yarn.lock
package-lock.json
src/pug/mixins.pug
src/js/_blocks.js
src/scss/_blocks.scss
.publish/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db
gulp-bem.code-workspace
.vscode