//- Все примеси в этом файле должны начинаться c имени блока (breadcrumbs)

mixin breadcrumbs(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +breadcrumbs('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' breadcrumbs--' + modsList[i].trim();
      }
    }

  .breadcrumbs(class=allMods)&attributes(attributes)
    .breadcrumbs__inner
      block
