//- Все примеси в этом файле должны начинаться c имени блока (preloader)

mixin preloader(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +preloader('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' preloader--' + modsList[i].trim();
      }
    }

  .preloader(class=allMods)&attributes(attributes)
    .preloader__inner
      .preloader__element
