extends ../pug/layout.pug

block meta
  title Главная

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

block content
  .main
    .main__content
      p test
  .container
    h3
      | Заголовок страницы 1
    h2
      | Заголовок страницы 2

block footer
  p test footer
  p «Подвал» 1
  p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]
