extends ../pug/layout.pug

//- block meta
//-   title Главная

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

block content
  .preloader
  .main
    +breadcrumbs()
      +breadcrumbs-item("тестовые крошки 1", "/")
      +breadcrumbs-item("тестовые крошки 2", "/", "active")
      +breadcrumbs-item("тестовые крошки 3", "/")
    .main__content
      p test
      p tester
      p tester 3
      +card()
        | test 3
    .container
      h3
        | Заголовок страницы 1
      h2
        | Заголовок страницы 2

block footer
  p test footer
  p «Подвал» 1
  p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]
