extends ../pug/layout.pug

block meta
  title Главная

//- block append head
//-   link(rel='stylesheet', href='css/some.css')
block nav
  nav.nav-main
    ul.nav-main__list
      li.nav-main__item Link
      li.nav-main__item Link 2

block content
  +header()
    h1 first launch
  .main
    .main__content
      p test
  .container
    h3
      | Заголовок страницы

  +footer()
    p test footer
    p «Подвал»
    p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]
